body {
  font-size: 20px;
  color:rgb(27, 50, 100);
  box-sizing: border-box;
}

img {
  max-width:100%;
}

.heading{
  text-align: center;
  font-size: 30px;
  color:#1B3264;
}

a {
  text-decoration: none;
  color: #fff;
}

/* ヘッダー */
header{
  background-color: rgb(23, 131, 206);
  font-size: 12px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

header img {
  max-width:70%;
  margin-right:5%;
}

.header-left, .header-right{
  display: flex;
  justify-content: space-between;
}

.header-left{
  padding: 1.5% 0 0 2%;
  max-width:300px;
  font-size: 24px;
}

.header-right{
  max-width: 800px;
  padding: 1.5% 0 0 0;
  font-weight: bold;
  font-size: 16px;
}

.header-right li{
margin: 0 1%;
}

.header-left li, .header-right li{
  padding:1% 0;
  text-align: center;
}

.download, .contact{
  border-radius: 15px;
  height:2%;
  line-height: 20px;
}

.download{
  max-width: 200px;
  background: linear-gradient(90deg, rgb(248, 126, 18), rgb(247, 194, 18)); 
}

.contact{
  max-width: 160px;
  color:black;
  background-color: #fff;
}


/* ｆｖ */
#fv{
  height:10%;
  padding:5% 0;
  background-color: rgb(23, 131, 206);
  color:#fff;
  position:relative;
}

.fv-container{
 max-width: 1800px;
 margin:0 auto;
}

.appeal{
  max-width:420px;
  margin:20px 210px 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.appeal img{
  max-width:136px;
}

.appeal-text1, .appeal-text2, .appeal-text3{
  max-width: 90px;
  text-align: center;
  font-size: 20px;
  position:absolute;
}

.appeal-text1{
  top:90px;
  right:524px;
}

.appeal-text2{
  top:84px;
  right:376px;
  font-size: 17px;
}

.appeal-text3{
  top:90px;
  right:236px;
  font-size: 18px;
}

.humanresourse, h1, .fv-text{
  font-style: italic;
}

.humanresourse{
  max-width:240px;
  margin:-26px 0 0 200px;
  font-size: 26px;
  transform: rotate(-3deg);
}

.fv-title-1, .fv-title-2{
  display: block;
  font-weight: bold;
  font-style: italic;
}

.fv-title-1{
  max-width: 370px;
  margin:20px 0 -140px 126px;
  letter-spacing: 0.2em;
  transform: rotate(-1deg);
}

.fv-title-2{
  max-width: 600px;
  margin:0 0 80px 450px;
  transform: rotate(-3deg);
  z-index: 10;
}

.fv-bigger{
  font-size: 70px;
}

.plain{
  font-size: 40px;
  
}

.fv-biggest{
  font-size: 180px;
  font-family:"BIZ UDPMincho";
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
  letter-spacing: -0.13em;
}

.fv-end{
  margin:-90px 0 0 280px;
  font-size: 54px;
  display: block;
}

.fv-bigger, .fv-biggest, .yellow{
  color:#fef000;
}

.fv-text{
  max-width: 600px;
  margin:-22px 0 -20px 430px;
  font-size: 28px;
  transform: rotate(-7deg);
}

.triangle-1, .triangle-2{
  position:absolute;
}

.triangle-1{
  max-width:300px;
  top:280px;
  left:150px;
}

.triangle-2{
  max-width:300px;
  top:290px;
  left:488px;
  z-index: 0;
}

.img-fv{
  width:540px;
  position:absolute;
  top:166px;
  right:110px;
}

.threeminuts{
  margin:84px 0 10px 124px;
  font-size: 17px;
}

.btn{
  max-width:630px;
  margin-left: 130px;
  display: flex;
  justify-content: space-between;
}

.download-bigger, .inquiry-bigger{
  max-width:300px; 
  height:60px;
  padding:7px 0;
  text-align: center;
  font-weight:bolder;
  border-radius: 50px;
  line-height: 60px;
}

.download-bigger{
  background: linear-gradient(90deg, rgb(248, 126, 18), rgb(247, 194, 18));
}

.download-bigger img{
  width:30px;
  margin-top:-20px;
}

.inquiry-bigger{
  background-color: #20326A;
}


/* メインポイント */
#main-point{
  /* height:90px; */
  background-color: #044294;
  color:#fff;
  display: flex;
  justify-content: space-evenly;
  gap:10px;
  font-size: 26px;
  font-weight: bold;
  align-items: center;
  padding: 10px;
}

.main-point-number{
  margin-right: 10px;
  font-weight: bolder;
}

.main-point-detail{
  max-width:320px;
  margin: 0 auto;
  padding:33px 0;
  display: flex;
  justify-content:space-between;
  list-style: none;
}

.main-point-detail:first-of-type{
  margin-left: 100px;
}

.syasen{
  max-width:156px;
  height:3px;
  background:#fff;
  transform:rotate(135deg);
}


/* .main-point-detail img {
  max-width:40px;
  align-items: center;
  display: flex;
  justify-content: center;
} */


/* 導入企業 */
#install-company{
  padding-bottom: 56px;
}

#install-company img{
  max-width:1060px;
  margin:20px 0 0 180px;
}



/* Recruiting Cloud が解決する課題 */
#problem{
  padding:60px 0 66px 0;
  background-color: #E9F3FD;
  position:relative;
}

#problem .heading{
  padding:28px 0;
  font-size: 42px;
}

.problem-list{
  max-width:1200px;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
}

.problem-list li{
  max-width: 360px;
  display: block;
  text-align: center;
  margin: 0 auto;;
}

.problem-list img{
  max-width:240px;
  margin:10px 0 0 0;
}

.title{
  padding:42px 0 10px;
  font-weight: bolder;
  display: block;
  font-size: 24px;
  text-align: center;
}

.problem-detail{
  margin: 10px 0 0 20px;
  line-height: 34px;
  text-align: center;
}

.triangle-bottom{
  width: 0;
  height: 0;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  border-top: 30px solid #E9F3FD;
  position:absolute;
  bottom:-30px;
  left:48.5%;
}

/* Recruiting Cloud なら安く ・ 多く ・ 楽に応募が集まる！ */
#feature{
  padding: 60px 0 80px 0;
}

#feature .heading{
  margin:22px 0 80px 150px;
  text-align: left;
  line-height: 56px;
  font-size: 46px;
  letter-spacing: 0.01em;
}

.blue, .point-small, .point-small-2{
  color: #16ABF0;
}

.point, .point-2{
  max-width:1160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0 auto 50px;
}

.point-2{
  margin-bottom: 20px;
}

.text, .text-2{
  margin-top: 46px;
  padding:0 66px;
}

.point-small, .point-small-2{
  margin-top: 46px;
  font-size: 24px;
}

.point-small-2{
  margin: 20px 0 20px 12px;
}

.text h3, .text-2 h3{
  margin-top: 10px;
  font-size: 40px;
  line-height: 70px;
}

.text-2 h3{
  margin: -10px 0 0 10px;
}

.description, .description-2{
 max-width: 544px;
 margin-top: 10px;
 padding-left: 14px;
 line-height: 40px;
 font-size: 21px;
}

.description-2{
padding-left: 10px;
}

.point img, .point-2 img{
  max-width: 430px;
}

.img-point-2{
  margin:76px 0 0 50px;
}


/* 90%のお客様が目標の応募数を獲得！ */
#convenient{
  padding:70px 0 88px;
  background-color: #E9F3FD;
  position:relative;
}

.img-arrow{
  max-width:160px;
  margin:auto;
  display: block;
  position: absolute;
  top:-5.5%;
  left:46.8%;
}

#convenient h3{
  display: block;
  margin: -16px 0 0 20px;
  text-align: center;
  font-size: 50px;
}

.ninety-biggest, .ninety-bigger{
  font-weight: bold;
  color: #16AAEF;
}

.ninety-biggest{
 font-size: 150px;
}

.ninety-bigger{
  font-size: 90px;
}

.summary{
  max-width:1140px;
  margin:36px 0 0 170px;
  display: block;
}


/* 導入事例 */
#install{
  padding:106px 0 166px;
}

.gray{
  font-size: 20px;
  color: #B0B0B0;
}

#install h3{
  max-width: 800px;
  margin:14px 0 50px -20px;
  font-size: 38px;
  line-height: 66px;
}

#install .gray, #install h3{
  margin-left: 220px;
}

.arrow-row{
  max-width: 170px;
  margin:-138px 230px 0 auto;
  display: flex;
  justify-content: space-between;
}

.arrow-row li{
  max-width: 80px;
}

.install-sumple{
  max-width:1370px;
  display: flex;
  justify-content: space-between;
  margin:30px  auto 0;
}

.install-sumple li{
  max-width: 470px;
}


/* 最短1週間で導入開始後 */
#running{
  padding:100px 0 80px;
  background-color: #E9F3FD;
  position:relative;
}

#running .heading{
  font-size: 50px;
  position:absolute;
  top:-5%;
  left:31.5%;
}

#running img{
  max-width:290px;
}

.running-group{
  max-width: 980px;
  margin:-30px auto 0;
  display: flex;
  justify-content: space-between;
}

.running-group li{
text-align: center;
}

.running-group li p{
  margin-top:20px;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
}



/* よくあるご質問 */
#faq{
  padding: 110px 0 160px;
}

#faq .heading{
  margin:16px 0 50px 200px;
  text-align: left;
  font-size: 40px;
}

#faq .gray{
  margin-left: 210px;
  font-weight: bold;
}

.faq-group{
  max-width:1500px;
  margin:0 auto ;
  padding: 20px 0;
  display: flex;
  border-top:solid 2px #E9E9E9;
}

#faq ul{
  max-width: 100%;
  display: flex;
  align-items: center;
}

.q-mark{
  display: inline-block;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: solid 1.5px #2FA3E3;
  text-align:center;
  line-height: 72px;
  color:#2FA3E3;
  font-size: 20px;
}

.faq-test{
  max-width:800px;
  margin-left: 30px;
  color:#1B3264;
  font-size: 18px;
}

.plus-mark{
  max-width:40px;
  margin:0;
  padding: 20px 0;
  color:#1B3264;
  display: flex;
  align-items: center;
  font-size: 26px;
  text-align: right;
}


/* 問い合わせ */
#inquiry{
  height:390px;
  background-color: #044294;
  color:#fff;
  text-align: center;
  position:relative;
}

#inquiry ul{
  max-width: 1100px;
  display: flex;
  position:absolute;
  top:-18%;
  left:14%;
}

#inquiry img{
  border-radius: 30px;
}

#inquiry ul li:first-of-type{
margin-right: 20px;
}
/* #inquiry ul li{
box-shadow: 5px 5px 5px rgba(0,0,0,.2);
} */

.phonenumber{
display: flex;
justify-content: center;
text-align: center;
padding:200px 0 0;
}

.phonenumber img{
  max-width:40px;
  height:40px;
  margin:36px 0 0 0;
}

.phonenumber p{
  margin:36px 0 0 10px;
  font-size: 38px;
  font-weight: bold;
}

.time{
  margin-top:16px;
  font-size: 18px;
}